[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"
pytest = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
mysql-connector = "*"
passlib = "*"
flask-restful = "*"
flask-httpauth = "*"
itsdangerous = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
