.OtherProfile {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}
.Comments {
    display: block;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: center;
    
}
.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}