.Comment {
    width: 500px;
    height: 70px;
    padding: 16px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: auto;
}
.Author {
    margin: 5px 0;
    text-align: right;
    color: #ccc;
}